# This is a comprehensive requirements.txt file to ensure that one installation covers everything.

# Core dependencies
ipykernel
matplotlib
pandas
pyjwt
python-dotenv
requests

# Dev tools for linting, formatting, testing, etc.
pylint>=3.0.0
pytest>=8.0.0
pytest-cov>=5.0.0
