[run]
branch = True
source_dirs =
    samples
    shared/python
    setup
omit =
    */__init__.py
    */__pycache__/*
    tests/python/*

[report]
fail_under = 100
show_missing = True
skip_covered = False
