[MASTER]
jobs = 0
persistent = no

[MESSAGES CONTROL]
enable = all
disable =
    C0301,  # Line too long
    C0305,  # Trailing newlines
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function or method docstring
    W0212,  # Access to a protected member _ of a client class
    R0903,  # Too few public methods
    R0913,  # Too many arguments
    W0621,  # Redefining name from outer scope
    W0511,  # TODO/FIXME comments

[REPORTS]
output-format = colorized
reports = yes
score = yes
msg-template = {path}:{line}:{column}: [{msg_id}({symbol}), {obj}] {msg}

[FORMAT]
max-line-length = 120
expected-line-ending-format = LF
